body {
  background: #F5DEB3;
  font-family: Georgia;
  font-size: 14px;
  padding: 40;
}
h1 {
  font-family: Georgia;
  font-size: 28px;
}
h2 {
  font-family: Georgia;
  font-size: 18;
}

/*Google Fonts
*/
