@import url('http://fonts.googleapis.com/css?family=Shadows+Into+Light|Architects+Daughter');
body:before {
    content: "";
    position: fixed;
    background: #FF0000;
    left: 0;
    right: 0;
    height: 25px;
}
body:before {
    top: 0;
}
body {
  background: #FFD700;
  font-family: 'Architects Daughter', cursive;
  font-size: 15px;
  margin: 50px
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 28px;
}
h2 {
  font-family: 'Architects Daughter', cursive;
  font-size: 18;
  font-weight: bold;
}
h3 {
  font-family: 'Architects Daughter', cursive;
  font-size: 14;
}
input[type="submit"] {
  width: 75px;
  background-color: white;
  color: black;
  font-family: 'Architects Daughter', cursive;
  font-size: 14px;
  margin: 10px 10px 0px 0px;
  padding: 5px;
  border-color: black;
  border: 1px;
  border-radius: 10px;
  display: block;
}
