body {
  background: #F5DEB3;
  font-family: Georgia;
  font-size: 12px;
  margin: 50px
}
h1 {
  font-family: Georgia;
  font-size: 28px;
}
h2 {
  font-family: Georgia;
  font-size: 18;
}
h3 {
  font-family: Georgia;
  font-size: 14;
}
.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 5px;
}

/*Google Fonts
*/
